<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
         <h2>Rxjs SearchBar..</h2>
        <form #searchForm="ngForm">
          <div class="mt-3">
            <input type="text" ngModel class="form-control form-control-lg" required name="searchTerm" autocomplete="off">
          </div>
        </form>


      <div class="row m-3" >
        <div class="col-md-6" *ngIf="result">
          <h5>Search Result</h5>
        </div>
        <div class="col-md-6" *ngIf="result">
          <span class="text-muted"><strong>{{searchResultCount}}</strong> Results Found..</span>
        </div>
      </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of result; index as i">

              <td>{{data.id}}</td>
              <td>{{data.username}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>{{data.gender}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>




<router-outlet></router-outlet>